body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  justify-content: space-between;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.about  {
  flex: 1 0 auto;
  padding: 10px;
}
.blogDetail {
min-height: 80vh;
  padding: 10px;
  margin: auto;
}
.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: tomato;
  color: white;
  position:absolute;
bottom:0;
}



/* Burası footerın en altta kalmasını sağlıyor */
#root{
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;}
